<div class="hero">
  <div class="content-container">
    <mkt-navbar></mkt-navbar>

    <div class="hero-content">
      <div class="hero-text">
        <h2 class="hero-heading">CTA Text to get Conversions</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, temporibus ipsam suscipit debitis nemo omnis corrupti quia deleniti, quis incidunt nesciunt laudantium culpa cumque dolores itaque eum non magni dolorum.</p>
        <a href="#" class="hero-cta">Start a free trial <i class="las la-arrow-right"></i></a>
      </div>
      <img src="/assets/img/hero-image.jpg" class="hero-img" alt="person with computer">
    </div>
  </div>
</div>
